@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Shadows+Into+Light&display=swap');

body {
    background: gray;
    
}


/*----------------Navbar----------------*/
.navbar {
    padding: .8rem;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
  }
  
.navbar-brand{
    font-family: 'Pacifico', sans-serif ;
    font-size: 50px;
      
  }
  
  .navbar-nav li {
    padding-right: 20px;
  }
  
  .nav-link {
    
    text-transform: uppercase;
    display:block;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 5rem 1rem;
    position: relative
  }
  
  .mynav a{
    color: #474e5d;
  }
  
  .mynav a:hover {
    border-bottom: 2px solid #DBA748;
    
  }
  
  .active a {
    border-bottom: 2px solid #DBA748;
   
  }
  
  #nohover {
    pointer-events: none;
  }
  
 /*----------------Header----------------*/

  .btn-red {
    background-color: red;
    color: #fff;
    border: none !important;
  }
.btn {
    padding: 10px 20px;
    font-size: .85em;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    }

.view {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff
    }
    
    h1{
        font-family: 'Pacifico', sans-serif;
        color: black;
    }
 
    p {
      font-family: 'Bebas Neue' sans-serif;
      font-size: 32px;
    }    

.welcome{
  background-color: #DBA748;
  text-transform: uppercase;
  
}

.img-fluid{
  padding-top: 100px;
}

#food {
  color:black;
}
/*----------------Section 1----------------*/
#section1 p {
  font-family: 'Bebas Neue' sans-serif;
  font-size: 24px;
  padding-top: 50px;
  text-align: justify;
  font-family: 'Bebas Neue', sans-serif;
  padding-right: 50px;
  border-bottom: 1px solid #474e5d
}

#section1 h2{
  padding-top: 150px;
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: underline red;
}
#section1a p {
  font-family: 'Bebas Neue' sans-serif;
  font-size: 32px;
  padding-top: 50px;
  text-align: justify;
  font-family: 'Bebas Neue', sans-serif;
  padding-right: 50px;
  border-bottom: 1px solid #474e5d
}

#section1a h2{
  padding-top: 150px;
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: underline red;
}
/*----------------Section 2----------------*/
#section2 p {
  font-family: 'Bebas Neue' sans-serif;
  font-size: 24px;
  padding-top: 50px;
  text-align: justify;
  font-family: 'Bebas Neue', sans-serif;
  padding-right: 50px;
  border-bottom: 1px solid #474e5d
}

#section2 h2{
  padding-top: 150px;
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: underline red;
}

/*----------------Section 3----------------*/

#section3 p {
  font-family: 'Bebas Neue' sans-serif;
  font-size: 24px;
  padding-top: 50px;
  text-align: justify;
  font-family: 'Bebas Neue', sans-serif;
  padding-right: 50px;
  border-bottom: 1px solid #474e5d;
}

#section3 h2{
  padding-top: 150px;
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: underline red;
}

/*----------------Footer----------------*/

#footer{
  background-color: red;
  padding-top: 25px;
  margin-top: 25px;
}

#footer h5{
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  font-size: 50px;
  color: #fff;
  margin-top: 40px;
}

#footer i{
  text-align: center;
  color: #fff;
  font-size: 50px;
  width: -70px;
  height: -70px;
  margin: 40px
}

#footer p{
  text-align: center;
  object-fit:fill;
}
/*----------footer 2---------*/

#terms{
  background-color: black;
  padding-top: 25px;
  margin-top: 25px;
  text-align: center;
}

#terms a {
  font-size: 24px;
  color: #DBA748;
  margin-left: 50px;
  text-decoration: none;
}

#newsletter{
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
  font-family: 'Bebas Neue', sans-serif;
}

#newsletter label{
  color: #DBA748
  
}

#subscribe{
  background-color: #DBA748;
}

#n-email{
  background-color: #DBA748; 
  margin-left: 10px;
}

@media only screen and (max-width: 375px) {
  #terms{
    text-align: center;
  
  }
  body {
    text-align: center;
    
  }
}
  


/*----------Food Page---------*/

#food h2{
  background-color: #DBA748;
  font-family: 'Pacifico', sans-serif;
  font-size: 41px;
  text-align: center;
}